* {
      padding: 0;
      margin: 0;
      border: 0;
    }

    body {
      background: #eee;
      padding: 15px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

.card {
  padding:10%;
  
}


h2{
  padding-top:0;
  margin-top:0;
}

        .demo {

/*       top: 20;
      left: 20; */
      width: 100%;
          border-bottom: 1px solid #ccc;
      
      
      visibility: hidden;
      background: white;
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
/* padding:0 10% 0 10%; */
    }

/*     .offset {
      top:50%;
    } */
.demo li{
    display:block;
/*     padding:30px; */
    } 


    #dragend {
      position: absolute;
      bottom: 50px;
      right: 50px;
      background: white;
      padding: 18px;
      color: #fff;
      border-radius: 3px;
      width: 150px;
      font-size: 15px;
    }

    #dragend h1 {
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 12px;
    }

    #dragend a {
      text-decoration: underline;
      color: #fff
    }